---
import HelloBackground from "../HelloBackground.astro";
import GitHub from "../svg/GitHub.astro";
import LinkedIn from "../svg/LinkedIn.astro";
import Mail from "../svg/Mail.astro";
---

<article
  class="col-span-8 p-14 relative flex flex-col gap-12 rounded-3xl overflow-hidden"
>
  <div class="flex justify-between items-center z-10">
    <section class="flex items-center gap-4">
      <img
        class="w-12 h-12"
        src="/public/assets/icon.png"
        alt="Foto animada de Gonzalo Espindola"
      />
      <div>
        <h1 class="text-md text-white">Gonzalo Espindola</h1>
        <p class="text-sm text-white opacity-55">Desarrollador Web</p>
      </div>
    </section>

    <section class="flex items-center justify-center gap-2">
      <GitHub />
      <LinkedIn />
      <Mail />
    </section>
  </div>

  <div class="z-10">
    <h2 class="text-5xl text-white">Passionate to pursue the technology.</h2>
  </div>

  <div class="z-10">
    <h4 class="text-xl text-white opacity-55">
      I enjoy learning new things and try to overcome new challenges while
      analyzing how I improved through them.
    </h4>
  </div>
  <HelloBackground />
</article>
