---
import GridContainer from "../components/Grid/GridContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gonzalo Espindola - Desarrollador Web">
  <main class="max-w-screen-xl mx-auto">
    <GridContainer />
  </main>
</Layout>
