<div class="scene">
  <div
    class="circle"
    style="width: 82.11px; height: 82.11px; top: 73.5%; left: 60.21%; animation-duration: 8.24s; animation-delay: -5.14s; background-color: rgb(240, 240, 240); opacity: 0.74;"
  >
  </div><div
    class="circle"
    style="width: 75.84px; height: 75.84px; top: 8.12%; left: 14.25%; animation-duration: 10.16s; animation-delay: -5.89s; background-color: rgb(240, 240, 240); opacity: 0.81;"
  >
  </div><div
    class="circle"
    style="width: 87.77px; height: 87.77px; top: 1.9%; left: 33.11%; animation-duration: 10.71s; animation-delay: -5.53s; background-color: rgb(240, 240, 240); opacity: 0.82;"
  >
  </div><div
    class="circle"
    style="width: 59.56px; height: 59.56px; top: 9.18%; left: 87.74%; animation-duration: 9.46s; animation-delay: -5.15s; background-color: rgb(240, 240, 240); opacity: 0.03;"
  >
  </div><div
    class="circle"
    style="width: 86.93px; height: 86.93px; top: 99.77%; left: 80.54%; animation-duration: 8.29s; animation-delay: -5.72s; background-color: rgb(240, 240, 240); opacity: 0.03;"
  >
  </div><div
    class="circle"
    style="width: 42.55px; height: 42.55px; top: 47.66%; left: 56.25%; animation-duration: 11.29s; animation-delay: -5.89s; background-color: rgb(240, 240, 240); opacity: 0.11;"
  >
  </div><div
    class="circle"
    style="width: 53.6px; height: 53.6px; top: 97.34%; left: 3.42%; animation-duration: 10.3s; animation-delay: -5.65s; background-color: rgb(240, 240, 240); opacity: 0.19;"
  >
  </div><div
    class="circle"
    style="width: 58.07px; height: 58.07px; top: 58.5%; left: 27.28%; animation-duration: 11.55s; animation-delay: -5.86s; background-color: rgb(240, 240, 240); opacity: 0.93;"
  >
  </div><div
    class="circle"
    style="width: 85.61px; height: 85.61px; top: 97.06%; left: 54.82%; animation-duration: 9.88s; animation-delay: -5.46s; background-color: rgb(240, 240, 240); opacity: 0.88;"
  >
  </div><div
    class="circle"
    style="width: 30.45px; height: 30.45px; top: 57.14%; left: 45.42%; animation-duration: 11.49s; animation-delay: -5.35s; background-color: rgb(240, 240, 240); opacity: 0.62;"
  >
  </div><div
    class="circle"
    style="width: 38.23px; height: 38.23px; top: 92.28%; left: 55.27%; animation-duration: 9.09s; animation-delay: -5.82s; background-color: rgb(240, 240, 240); opacity: 0.92;"
  >
  </div><div
    class="circle"
    style="width: 2.79px; height: 2.79px; top: 52.82%; left: 9.34%; animation-duration: 11.55s; animation-delay: -5.19s; background-color: rgb(240, 240, 240); opacity: 0.97;"
  >
  </div><div
    class="circle"
    style="width: 37.1px; height: 37.1px; top: 70.89%; left: 83.99%; animation-duration: 9.85s; animation-delay: -5.92s; background-color: rgb(240, 240, 240); opacity: 0.79;"
  >
  </div><div
    class="circle"
    style="width: 76.36px; height: 76.36px; top: 89.45%; left: 9.85%; animation-duration: 9.6s; animation-delay: -5.24s; background-color: rgb(240, 240, 240); opacity: 0.14;"
  >
  </div><div
    class="circle"
    style="width: 24.87px; height: 24.87px; top: 64.56%; left: 63.07%; animation-duration: 10.68s; animation-delay: -5.51s; background-color: rgb(240, 240, 240); opacity: 0.48;"
  >
  </div><div
    class="circle"
    style="width: 46.53px; height: 46.53px; top: 66.46%; left: 52.81%; animation-duration: 10.83s; animation-delay: -5.99s; background-color: rgb(240, 240, 240); opacity: 0.08;"
  >
  </div><div
    class="circle"
    style="width: 51px; height: 51px; top: 33.29%; left: 51.85%; animation-duration: 8.94s; animation-delay: -5.75s; background-color: rgb(240, 240, 240); opacity: 0.2;"
  >
  </div><div
    class="circle"
    style="width: 71.75px; height: 71.75px; top: 40.96%; left: 98.96%; animation-duration: 8.72s; animation-delay: -5.86s; background-color: rgb(240, 240, 240); opacity: 0.91;"
  >
  </div><div
    class="circle"
    style="width: 3.46px; height: 3.46px; top: 59.63%; left: 20.69%; animation-duration: 8.33s; animation-delay: -5.74s; background-color: rgb(240, 240, 240); opacity: 0.71;"
  >
  </div><div
    class="circle"
    style="width: 82.21px; height: 82.21px; top: 87.76%; left: 23.7%; animation-duration: 8.15s; animation-delay: -5.27s; background-color: rgb(240, 240, 240); opacity: 0.76;"
  >
  </div><div
    class="circle"
    style="width: 28.61px; height: 28.61px; top: 37.43%; left: 56.69%; animation-duration: 8.63s; animation-delay: -5.34s; background-color: rgb(240, 240, 240); opacity: 0.61;"
  >
  </div><div
    class="circle"
    style="width: 10.46px; height: 10.46px; top: 63.51%; left: 43.03%; animation-duration: 11.06s; animation-delay: -5.34s; background-color: rgb(240, 240, 240); opacity: 0.62;"
  >
  </div><div
    class="circle"
    style="width: 28.2px; height: 28.2px; top: 83.39%; left: 55.7%; animation-duration: 8.55s; animation-delay: -5.29s; background-color: rgb(240, 240, 240); opacity: 0.52;"
  >
  </div><div
    class="circle"
    style="width: 40.63px; height: 40.63px; top: 37.6%; left: 96.69%; animation-duration: 9.84s; animation-delay: -5.18s; background-color: rgb(240, 240, 240); opacity: 0.62;"
  >
  </div><div
    class="circle"
    style="width: 3.56px; height: 3.56px; top: 54.94%; left: 7.33%; animation-duration: 10.93s; animation-delay: -5.29s; background-color: rgb(240, 240, 240); opacity: 0.13;"
  >
  </div><div
    class="circle"
    style="width: 89.93px; height: 89.93px; top: 5.47%; left: 8.09%; animation-duration: 10.63s; animation-delay: -5.84s; background-color: rgb(240, 240, 240); opacity: 0.68;"
  >
  </div>

  <style scoped>
    .scene {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;
      top: 0;
      left: 0;
      opacity: 0.2;
      background: linear-gradient(
          112.59deg,
          rgba(255, 88, 88, 0.05) 83.32%,
          rgba(255, 0, 0, 0.1) 94.31%
        ),
        linear-gradient(
          109.73deg,
          rgba(251, 255, 0, 0.1) 7.85%,
          rgba(223, 129, 7, 0.05) 19.46%
        );
    }

    .circle {
      position: absolute;
      border-radius: 50%;
      animation: float 10s infinite ease-in-out;
      z-index: -1;
    }

    @keyframes float {
      0%,
      100% {
        transform: translateY(0) translateX(0);
      }
      50% {
        transform: translateY(-20px) translateX(20px);
      }
    }
  </style>
</div>
