<header>
  <section
    class="flex flex-col items-center gap-2 px-2 md:flex-row md:items-start"
  >
    <h1 class="text-white text-xl text-center">
      Gonzalo Espindola
      <span class="opacity-55">, Desarrollador Web</span>
    </h1>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/gonzalo-espindola/"
      class="text-green-500 animate-background-shine cursor-pointer justify-center rounded-md border border-green-500 bg-[linear-gradient(110deg,#22c55e1a,50%,#22c55e66,55%,#22c55e1a)] bg-[length:250%_100%] px-2.5 py-0.5 text-sm"
    >
      Disponible para trabajar
    </a>
  </section>
</header>
