<div class="scene">
  <div class="northen-lights">
    <div
      class="northen-light"
      style="--duration: 13.07; --delay: 5.67; --x: 1.36; --y: 0.90; --scale: 0.10; background-image: linear-gradient(0deg, transparent, rgba(195, 0, 255, 0.27) 10%, transparent, rgba(0, 242, 255, 0.953) 40%, transparent, rgba(0, 208, 255, 0.353) 60%); --up: calc(var(--y, 10) * 2vmax); --left: calc(var(--x, 2) * 2vmax); transform: translate(var(--left), var(--up));"
    >
    </div><div
      class="northen-light"
      style="--duration: 11.47; --delay: 4.00; --x: 4.49; --y: 2.21; --scale: 0.05; background-image: linear-gradient(0deg, transparent, rgba(195, 0, 255, 0.27) 10%, transparent, rgba(0, 242, 255, 0.953) 40%, transparent, rgba(0, 208, 255, 0.353) 60%); --up: calc(var(--y, 10) * 2vmax); --left: calc(var(--x, 2) * 2vmax); transform: translate(var(--left), var(--up));"
    >
    </div><div
      class="northen-light"
      style="--duration: 7.98; --delay: 9.45; --x: 3.75; --y: 9.57; --scale: 0.03; background-image: linear-gradient(0deg, transparent, rgba(195, 0, 255, 0.27) 10%, transparent, rgba(0, 242, 255, 0.953) 40%, transparent, rgba(0, 208, 255, 0.353) 60%); --up: calc(var(--y, 10) * 2vmax); --left: calc(var(--x, 2) * 2vmax); transform: translate(var(--left), var(--up));"
    >
    </div><div
      class="northen-light"
      style="--duration: 13.82; --delay: 9.34; --x: 0.51; --y: 1.55; --scale: 0.07; background-image: linear-gradient(0deg, transparent, rgba(195, 0, 255, 0.27) 10%, transparent, rgba(0, 242, 255, 0.953) 40%, transparent, rgba(0, 208, 255, 0.353) 60%); --up: calc(var(--y, 10) * 2vmax); --left: calc(var(--x, 2) * 2vmax); transform: translate(var(--left), var(--up));"
    >
    </div><div
      class="northen-light"
      style="--duration: 7.87; --delay: 9.67; --x: 3.31; --y: 3.94; --scale: 0.07; background-image: linear-gradient(0deg, transparent, rgba(195, 0, 255, 0.27) 10%, transparent, rgba(0, 242, 255, 0.953) 40%, transparent, rgba(0, 208, 255, 0.353) 60%); --up: calc(var(--y, 10) * 2vmax); --left: calc(var(--x, 2) * 2vmax); transform: translate(var(--left), var(--up));"
    >
    </div><div
      class="northen-light"
      style="--duration: 13.80; --delay: 4.48; --x: 1.94; --y: 9.81; --scale: 0.00; background-image: linear-gradient(0deg, transparent, rgba(195, 0, 255, 0.27) 10%, transparent, rgba(0, 242, 255, 0.953) 40%, transparent, rgba(0, 208, 255, 0.353) 60%); --up: calc(var(--y, 10) * 2vmax); --left: calc(var(--x, 2) * 2vmax); transform: translate(var(--left), var(--up));"
    >
    </div><div
      class="northen-light"
      style="--duration: 7.18; --delay: 6.25; --x: 2.22; --y: 5.36; --scale: 0.05; background-image: linear-gradient(0deg, transparent, rgba(195, 0, 255, 0.27) 10%, transparent, rgba(0, 242, 255, 0.953) 40%, transparent, rgba(0, 208, 255, 0.353) 60%); --up: calc(var(--y, 10) * 2vmax); --left: calc(var(--x, 2) * 2vmax); transform: translate(var(--left), var(--up));"
    >
    </div><div
      class="northen-light"
      style="--duration: 14.30; --delay: 7.54; --x: 1.15; --y: 8.98; --scale: 0.09; background-image: linear-gradient(0deg, transparent, rgba(195, 0, 255, 0.27) 10%, transparent, rgba(0, 242, 255, 0.953) 40%, transparent, rgba(0, 208, 255, 0.353) 60%); --up: calc(var(--y, 10) * 2vmax); --left: calc(var(--x, 2) * 2vmax); transform: translate(var(--left), var(--up));"
    >
    </div><div
      class="northen-light"
      style="--duration: 9.39; --delay: 7.18; --x: 4.55; --y: 3.20; --scale: 0.09; background-image: linear-gradient(0deg, transparent, rgba(195, 0, 255, 0.27) 10%, transparent, rgba(0, 242, 255, 0.953) 40%, transparent, rgba(0, 208, 255, 0.353) 60%); --up: calc(var(--y, 10) * 2vmax); --left: calc(var(--x, 2) * 2vmax); transform: translate(var(--left), var(--up));"
    >
    </div><div
      class="northen-light"
      style="--duration: 13.70; --delay: 6.47; --x: 4.97; --y: 5.99; --scale: 0.04; background-image: linear-gradient(0deg, transparent, rgba(195, 0, 255, 0.27) 10%, transparent, rgba(0, 242, 255, 0.953) 40%, transparent, rgba(0, 208, 255, 0.353) 60%); --up: calc(var(--y, 10) * 2vmax); --left: calc(var(--x, 2) * 2vmax); transform: translate(var(--left), var(--up));"
    >
    </div>
  </div>
</div>

<style>
  .scene {
    height: 100%;
    width: 100%;
    left: 0;
    overflow: hidden;
  }

  .northen-lights,
  .scene {
    position: absolute;
    top: 0;
  }

  .northen-lights {
    width: 200vmax;
    height: 100vmax;
    left: 50%;
    transform: translate(-20%, -55%) rotate(30deg);
    display: flex;
    filter: blur(75px);
  }

  .northen-light {
    flex: 1;
    --up: calc(var(--y, 10) * 2vmax);
    --left: calc(var(--x, 2) * 2vmax);
    background-size: 100% 40vmax;
    background-position: bottom;
    background-repeat: no-repeat;
    transform: translate(var(--left), var(--up)) scale(1);
    animation: shift calc(var(--duration, 2) * 1s) calc(var(--delay, 0) * -1s)
      infinite ease;
  }

  @media (max-width: 768px) {
    .northen-light {
      --up: calc(var(--y, 10) * 2vmax);
      --left: calc(var(--x, 2) * 2vmax);
    }
  }

  @keyframes shift {
    50% {
      transform: translate(0) scale(1);
    }
  }

  @keyframes flicker {
    0%,
    50%,
    to {
      transform: scale(1);
    }

    25% {
      transform: scale(0);
    }
  }
</style>
